<!-- Header -->
<%- include('../partials/header') %>


<!-- Body -->
<div class="container" style="margin-top: 100px; height: 580px; background: #F8F9FA; margin-bottom: 80px">
    <fieldset class="border p-4">
        <legend  class="w-auto">Book working place</legend>
        <div class="row">
            <div class="col-9">
                <!-- Room booking form -->
                
                <form id="book_working_place">
                    <table class="table table-borderless table-sm"">
                        <tr>
                            <td>Room: </td>
                            <td>
                                <select name="roomId" id="roomId">
                                    <% rooms.forEach(room => { %> 
                                        <option value="<%= room.roomId %>"><%= room.roomName %></option>

                                    <% }); %>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Date: </td>
                            <td>
                                <input type="date" name="date" id="date" required/>
                            </td>
                        </tr>
                        <tr>
                            <td>Your Name: </td>
                            <td>
                                <input type="text" name="userName" id="name" required/>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Book" /></td>
                            <td></td>
                        </tr>
                    </table>
                </form>

            </div>
            <div id="message">
                <p id="child" style="color: red"></p>
            </div>
        </div>
        
    </fieldset>
 
    <fieldset class="border p-4 mt-3" style="height: 260px">
        <legend  class="w-auto">Get Capacity</legend>
        <div class="row">
            <div class="col-9">
            <!-- action="/getroomcapacity" method="post" -->
                <form id="get_capacity">
                    <table class="table table-borderless table-sm">
                        
                        <tr>
                            <td style="width: 200px"><input type="date" name="date"/></td>
                            <td><input type="submit" value="Get Capacity" /></td>
                        </tr>
                    </table>
                </form>

            </div>
            <div class="col-6">
                <span style="color: red">Messages will be shown here</span>
            </div>
        </div>
        
    </fieldset>
    
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
<script type="module" src="/js/app.js"></script>

<!-- Footer -->
<%- include('../partials/footer') %>
